/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
    - Font Family
   	- Box sizing
    -scroll bar
    - custom var  
    - form content
    - 
# Base
	- pre loader
	- button up
  -slider offer
  -stikey header
  -navbar
	- home page
    -- hero section
    -- service section
    -- why choise us section
    -- our service section
    -- counter section
    -- team section
    -- printer in sucess section
    -- blog section
  - about us page
  - service page
  - blog page
  - contact page
  - inquery page
	- footer
## Layouts 
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --color-white: #ffffff;
  --color-primary: #ee4510;
  --color-secound: #565656;
  --color-text: #1b1b1c;
  --color-pargraph: #5a5a5a;
}

@font-face {
  font-family: "light";
  src: url("../fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Cairo-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: ltr;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-text);
}

/* scroll bar */
//custom var

.text {
  font-size: 1rem;
  color: var(--color-text);
  font-family: "medium";
}
.parg {
  font-size: 1rem;
  color: var(--color-pargraph);
  font-family: "regular";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-primary);
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    font-size: 1rem;
    font-family: "medium";
    text-align: center;
    color: var(--color-white);
    position: relative;
    z-index: 10;
    padding: 2% 1%;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }

  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    background: var(--color-white);
    border-radius: 10px;
    font-size: 0.6rem;
    font-family: "medium";
    line-height: 1;
    text-align: center;
    color: var(--color-text);
    position: relative;
    z-index: 10;
    padding: 2% 1%;
    border: 1px solid var(--color-primary);
    &::before {
      position: absolute;
      content: "";
      background: var(--color-primary);
      width: 0;
      height: 100%;
      border-radius: 10px;
      color: var(--color-text);
      z-index: -1;
      transition: 0.2s all ease-in-out;
    }
  }
  .second:hover::before {
    width: 100%;
  }
}
.main_content_start {
  position: relative;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-inline-end: 10%;
  margin: 2% 0;
  h2 {
    font-size: 3rem;
    font-family: "bold";
    color: var(--color-text);
  }
  p {
    font-size: 1.7rem;
    font-family: "regular";
    color: var(--color-pargraph);
    line-height: 1.4;
  }
}
.main_title_center {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 3rem;
    font-family: "bold";
    color: var(--color-text);
  }
  p {
    font-size: 1.7rem;
    font-family: "regular";
    color: var(--color-pargraph);
    line-height: 1.4;
    text-align: center;
  }
}

.header_footer {
  font-size: 1.4rem;
  color: var(--color-white);
  font-family: "bold";
  position: relative;
  margin-bottom: 8%;
  &::after {
    position: absolute;
    content: "";
    top: 31px;
    left: 0;
    width: 55px;
    height: 2px;
    background-color: var(--color-primary);
    color: var(--color-primary);
  }
}
// content width
size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
//form content
.input-group {
  position: relative;
  margin-bottom: 3%;
  .icon_form {
    position: absolute;
    left: 0.3rem;
    top: 58%;
  }
}
.form-label,
.billing_first_name {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "medium";
}

.form-control,
.input-text {
  border-radius: 2px;
  padding-inline-start: 4%;
  background-color: transparent;
  color: var(--color-pargraph);
  font-family: "regular";
  &:focus {
    box-shadow: none !important;
    border-color: var(--color-primary) !important;
  }
  &::placeholder {
    color: var(--color-text);
    font-family: "regular" !important;
    font-size: 0.9rem;
  }
}
textarea {
  height: 150px;
}
textarea.form-control {
  padding-left: 2%;
}

.form-select {
  border-radius: 8px !important;
  padding: 0.375rem 2.25rem 0.375rem 1.4rem;
  font-family: "regular";
  background-color: #f5f5f5;
  color: var(--iconcolor);
  background-position: right;
  position: relative;
  &:focus {
    box-shadow: unset !important;
  }
}

.btn:focus,
.form-check-input:focus,
.form-check :focus,
.btn-check:focus + .btn,
.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

input[type="data"] {
  color: var(--color-secound);
  font-family: "regular";

  &::placeholder {
    content: "";
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  width: 50%;
  border-radius: 3px;
}

/* delete arrow from input number */

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* delete arrow from input number */
// watts plugin
.bh-widget-page .bh-w-link {
  display: none;
}

/* hamburger icon */
.navbar .navbar-toggler {
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  border: 1px solid var(--color-white);
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px 7px !important;
  outline: none !important;
}
.navbar .navbar-toggler-icon {
  transition: all 0.2s ease-out;
  transform: rotate(0 deg);
}
.navbar .navbar-toggler-icon,
.navbar .navbar-toggler-icon::before,
.navbar .navbar-toggler-icon::after {
  width: 1em !important;
  height: 2px !important;
  /* padding: 0 0 0 0.15em !important; */
  display: flex;
  background-image: none;
  background-color: var(--color-primary);
  position: absolute !important;
  transition: all 0.2s ease-in;
}
.navbar .navbar-toggler-icon::before {
  content: "";
  display: block;
  top: -0.3em;
}
.navbar .navbar-toggler-icon::after {
  content: "";
  display: block;
  bottom: -0.3em;
}
.navbar .navbar-toggler:focus {
  /* outline: none !important; */
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-white) !important;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px !important;
}
.active-hamburger .navbar-toggler-icon {
  transition: 0.2s;
  transform: rotate(405deg); /*45+360 */
}
.active-hamburger .navbar-toggler-icon::before {
  top: 0;
  opacity: 0;
}
.active-hamburger .navbar-toggler-icon::after {
  transition: 0.2s;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
}
/* hamburger icon */

/* start preloader */

#preloader {
  background-image: url(../image/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #161615;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */

/* start button up */

#button {
  display: inline-block;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-fourth);
  animation: move-toggs 3s linear infinite;

  &::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--color-primary);
  }

  i {
    color: var(--color-text);
    margin: auto;
    font-size: 22px;
    transition: 0.3s all;
  }

  &:hover {
    background-color: var(--color-text);
    cursor: pointer;
    i {
      color: var(--color-white);
    }
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes move-toggs {
  0% {
    bottom: 40px;
  }

  25% {
    bottom: 20px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 20px;
  }

  100% {
    bottom: 40px;
  }
}

/* finish button up  */
//start slider offer
.slider_offer {
  background: rgba(245, 101, 66, 0.4);
  height: 3rem;
  .swiper {
    height: 3rem;
    .swiper-slide {
      background: inherit;
      p {
        color: var(--color-white);
        text-align: center;
        font-size: 1.3rem;
        font-family: "light";
        margin-top: 8px;
      }
    }
  }
}

//finish slider offer
//start stikey header
.stikey_header {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-secound);
  .information_connect {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0;
    li {
      margin-inline-end: 3%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
      justify-content: center;
      &:hover {
        a,
        p {
          color: var(--color-text);
        }
        span {
          background-color: var(--color-primary);
          i {
            color: var(--color-white);
          }
        }
      }

      a,
      p {
        font-size: 0.8rem;
        color: var(--color-primary);
        font-family: "regular";
        padding-inline-start: 2%;
        transition: 0.25s all ease-in-out;
      }
      span {
        width: 30px;
        height: 30px;
        background-color: rgb(238, 69, 16, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        transition: 0.25s all ease-in-out;
        i {
          color: var(--color-primary);
          font-size: 1rem;
          transition: 0.25s all ease-in-out;
        }
      }
    }
  }
  .infp_2 {
    li {
      width: 50%;
      justify-content: flex-start;
    }
  }
}
//finish stikey header
// strat first header
.first_header {
  .custom-logo-link {
    img {
      width: 200px;
      height: 100px;
    }
  }
  .search_form {
    margin-top: 4%;
    .aws-container .aws-show-clear .aws-search-field {
      border-radius: 15px !important;
      font-family: "regular" !important;
    }
    .aws-search-result .aws_no_result {
      font-family: "regular" !important;
      color: var(--color-text) !important;
    }
  }
  .card_shop {
    margin-top: 6%;
    width: 15%;
    position: relative;
    .content_icon{
      i {
        color: var(--color-text);
        font-size: 2rem;
        margin-inline-end: 2%;
      }
    }
   
    .cart-customlocation {
     
    position: absolute;
    width: 18px;
    height: 20px;
    background :var(--color-text);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
    right: 0;
    font-size: .8rem;
    font-family: 'regular';

    }
  }
}
// finish first header

//start navbar
.navbar {
  background-color: rgba(245, 101, 66, 0.4);
  z-index: 100;
  transition: 0.25s all ease-in-out;
  padding: 10px 0;
  .navbar-collapse {
    .navbar-nav {
      width: 100%;
      justify-content: center;
      .nav-item.current_page_item {
        a {
          color: var(--color-primary);
          font-family: "bold";
          transition: 0.25s all ease-in-out;
          &:hover {
            color: var(--color-white);
          }
        }
      }
      .nav-item {
        transition: 0.35s all ease-in;
        position: relative;

        a {
          font-size: 1.4rem;
          font-family: "regular";
          color: var(--color-white);
          padding-left: 1rem;
          padding-right: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.25s all;
        }
      }
      .nav-item-drop {
        .dropdown-toggle {
          font-size: 1.4rem;
          font-family: "regular";
          color: var(--color-white);
          padding-left: 1rem;
          padding-right: 1rem;
          position: relative;
          overflow: hidden;
          z-index: 1;
          transition: 0.25s all;
        }
        .dropdown-menu {
          width: 300px;
          max-width: 800px;
          padding: 0;
          animation: hide 0.5s linear;
          .menu-item {
            text-align: center;
            background-color: rgba(245, 101, 66, 0.4);
            border-bottom: 1px solid #f5f5f5;
            margin-bottom: 2%;
            &:last-child {
              margin-bottom: 0;
              border-bottom: none;
            }
            .menu-item-drop {
              color: var(--color-white);
              font-size: 1rem;
              font-family: "regular";
            }
          }
        }

        //drop menu
        .dropdown-menu[data-bs-popper] {
        }
        .dropdown-menu.show {
          animation: show 0.5s linear;
        }
      }
    }
  }
}
@keyframes show {
  0% {
    top: 200%;
    opacity: 0;
  }
  50% {
    top: 150%;
    opacity: 0.5;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    top: 100%;
    opacity: 1;
  }
  50% {
    top: 150%;
    opacity: 0.5;
  }
  100% {
    top: 200%;
    opacity: 0;
  }
}
//finish navbar
//start hero section
.hero_section {
  padding: 0% 0% 5%;
  .swiper {
    width: 100%;
    height: 580px;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      width: 100%;
      .content {
        position: relative;
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
        }
        .img {
          width: 1290px;
          height: 450px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          position: absolute;
          top: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-align: center;
          flex-direction: column;
          h1 {
            font-size: 4rem;
            font-family: "bold";
            color: var(--color-white);
          }
          p {
            padding: 1% 12%;
            text-align: center;
            font-size: 2rem;
            font-family: "regular";
            color: var(--color-white);
          }
          .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              border: 1px solid var(--color-primary);
              border-radius: 8px;
              padding: 1%;
              width: 20%;
              font-size: 1.3rem;
              color: var(--color-white);
              background-color: transparent;
              transition: 0.25s all ease-in-out;
              &:hover {
                background-color: white;
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
    .swiper-button-prev {
      &:after {
        opacity: 0;
      }
      i {
        font-size: 2.5rem;
        color: var(--color-white);
      }
    }
    .swiper-button-next {
      &:after {
        opacity: 0;
      }
      i {
        font-size: 2.5rem;
        color: var(--color-white);
      }
    }
  }
}
//finish hero section
// start popular products section
.popular_products {
  padding: 5% 0;
  position: relative;
  .products {
    margin-top: 5%;
    .woocommerce-LoopProduct-link {
    }
  }
}

// finish popular products section

//start categories section
.categories_products {
  background-color: rgba(245, 101, 66, 0.08);
  position: relative;
  padding: 5% 0;
  .boxes {
    margin: 2% 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    .box {
      position: relative;
      border: 1px solid #565656;
      border-radius: 8px;
      .img {
        width: 100%;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        position: relative;
        transform: translateY(-30px);
        background-color: rgba(245, 101, 66, 0.1);
        h5 {
          color: white;
          font-size: 1.3rem;
          font-family: "regular";
        }
      }
    }
  }
}
//finish categories section
.woocommerce {
  //cart page

  .woocommerce-cart-form {
    margin-top: 3%;
    margin-bottom: 5%;
    display: block;
    .shop_table {
      width: 100%;

      thead {
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        padding: 5px 0;
        height: 50px;

        th {
          font-size: 1.2rem;
          font-family: "regular";
          color: var(--color-text);
        }
      }
      tbody {
        .cart_item {
          border: 1px solid #f5f5f5;
          border-radius: 8px;
          height: 110px;
          .product-name {
            a {
              font-size: 1.1rem;
              font-family: "bold";
              color: var(--color-pargraph);
              transition: 0.25s all ease-in-out;
              &:hover {
                color: var(--color-primary);
              }
            }
          }
          .product-price,
          .product-subtotal {
            .amount {
              font-size: 1.1rem;
              font-family: "bold";
              color: var(--color-pargraph);
              .woocommerce-Price-currencySymbol {
                color: var(--color-primary);
                font-family: "bold";
              }
            }
          }
          .product-quantity {
            .input-text {
              max-width: 44px;
              border: 1px solid #f5f5f5;
            }
          }

          .attachment-woocommerce_thumbnail {
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
          .product-remove {
            .remove {
              font-size: 1.3rem;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid peru;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              margin-inline-start: 6%;
              transition: 0.25s all ease-in-out;
              &:hover {
                background-color: var(--color-primary);
                color: white;
              }
            }
          }
        }
        .coupon {
          margin: 65px 0 10px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          label {
            font-size: 1.2rem;
            color: var(--color-pargraph);
            font-family: "light";
            margin-inline-end: 2%;
          }
          .input-text {
            border-radius: 8px;
            padding-inline-start: 2%;
            padding: 5px 4px;
            background-color: rgba(0, 0, 0, 0);
            color: var(--color-pargraph);
            font-family: "regular";
            border: 1px solid var(--color-primary) !important;
            width: 89px;
          }
          .button {
            background-color: transparent;
            border: 1px solid var(--color-primary);
            font-size: 1rem;
            color: var(--color-primary);
            font-family: "regular";
            display: inline-block;
            margin-top: 0;
            margin-inline-start: 1%;
            padding: 5px 12px;
            border-radius: 8px;
            transition: 0.25s all ease-in-out;
            width: 11%;
            &:hover {
              background-color: var(--color-primary);
              color: white;
            }
          }
        }
        .button {
          background-color: var(--color-primary);
          border: 1px solid var(--color-primary);
          border-radius: 8px;
          font-size: 1.2rem;
          color: var(--color-white);
          font-family: "regular";
          padding: 5px 12px;
          border-radius: 8px;
          transition: 0.25s all ease-in-out;
          width: 33%;
          margin: 3% auto 2%;

          &:hover {
            background-color: var(--color-white);
            color: var(--color-primary);
          }
        }
      }
    }
  }
  .cart_totals {
    h2 {
      font-size: 1.5rem;
      color: var(--color-text);
      font-family: "bold";
    }
    .shop_table {
      width: 50%;
      tbody {
        tr {
          border: 1px solid #f5f5f5;
          border-radius: 8px;
          height: 51px;
          th {
            padding-inline-start: 1%;
          }
          td {
            font-size: 1rem;
            color: var(--color-pargraph);
            font-family: "regular";
            .woocommerce-Price-currencySymbol {
              font-family: "bold";
              color: var(--color-primary);
            }
          }
        }
      }
    }
    .wc-proceed-to-checkout {
      margin: 5% 0;
      display: flex;
      justify-content: center;
      a {
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 8px;
        font-size: 1.2rem;
        color: var(--color-white);
        font-family: "regular";
        padding: 5px 12px;
        border-radius: 8px;
        transition: 0.25s all ease-in-out;
        width: 33%;

        &:hover {
          background-color: var(--color-white);
          color: var(--color-primary);
        }
      }
    }
  }
  //cart page
  //checkout page

  .woocommerce-input-wrapper {
    width: 100%;
    display: block;
  }

  .woocommerce-form-coupon-toggle {
    margin: 2% 0 4%;
    .woocommerce-info {
      font-size: 1.2rem;
      border: 1px solid #3d9cd2;
      border-top-width: 16px;
      background-color: transparent;
      font-family: "light";
      padding: 9px 14px;
      color: var(--color-text);
      border-radius: 8px;
      a {
        font-size: 1rem;
        font-family: "regular";
        transition: 0.25s all ease-in-out;
        &:hover {
          color: var(--color-pargraph);
        }
      }
    }
  }
  .woocommerce-checkout {
    margin: 2% 0 6%;
    .woocommerce-NoticeGroup-checkout {
      .woocommerce-error {
        background-color: #ca0b00;
        padding: 5px 0;
        padding-inline-start: 3%;
        border-radius: 8px;
        li {
          color: var(--color-white);
          font-size: 1rem;
          font-family: "regular";
          margin-bottom: 1%;
        }
      }
    }

    .woocommerce-billing-fields {
      h3 {
        font-size: 1.5rem;
        font-family: "bold";
        color: var(--color-text);
      }
      .woocommerce-billing-fields__field-wrapper {
        margin-bottom: 60px;
        p {
          margin-bottom: 3%;
        }
      }
      label {
        font-size: 0.9rem;
        color: var(--color-pargraph);
        font-family: "regular";
        margin-bottom: 1%;
      }
      .woocommerce-input-wrapper {
        .input-text {
          width: 90%;
          border-radius: 8px;
          border: 1px solid var(--color-pargraph);
          padding: 6px 0;
          padding-inline-start: 4%;
        }
      }
      .select2-container--default {
        width: 90% !important;
        .selection {
          .select2-selection {
            border: 1px solid var(--color-pargraph);
            border-radius: 8px;
            font-family: "regular";
            height: 37px;
            margin: 0 0 6px;
            .select2-selection__rendered {
              color: var(--color-text);
              line-height: 37px;
              padding-left: 0;
              padding-right: 0;
              padding-inline-start: 15px;
              padding-inline-end: 10px;
            }
          }
        }
      }
    }

    #order_review_heading {
      font-size: 1.5rem;
      font-family: "bold";
      color: var(--color-text);
    }
    .woocommerce-checkout-review-order {
      margin-bottom: 4%;
      .shop_table {
        width: 100%;
        tbody,
        tfoot {
          tr {
            border: 1px solid #f5f5f5;
            border-radius: 8px;
            height: 51px;
            th {
              padding-inline-start: 1%;
            }
            td {
              font-size: 1rem;
              color: var(--color-pargraph);
              font-family: "regular";
              .woocommerce-Price-currencySymbol {
                font-family: "bold";
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
    .woocommerce-checkout-payment {
      margin: 2% 0;
      .payment_methods {
        .woocommerce-notice {
          font-size: 1rem;
          font-family: "bold";
          color: var(--color-white);
          padding: 4px 12px;
          border-radius: 8px;
        }
      }
      .place-order {
        .form-row {
          font-size: 1rem;
          font-family: "bold";
          color: var(--color-text);
        }
        .woocommerce-terms-and-conditions-wrapper {
          p {
            font-size: 1rem;
            font-family: "bold";
            color: var(--color-text);
            a {
              color: var(--color-primary);
            }
          }
        }
        .button.alt {
          background-color: var(--color-primary);
          border: 1px solid var(--color-primary);
          border-radius: 8px;
          font-size: 1.2rem;
          color: var(--color-white);
          font-family: "regular";
          padding: 5px 12px;
          border-radius: 8px;
          transition: 0.25s all ease-in-out;
          width: 33%;

          &:hover {
            background-color: var(--color-white);
            color: var(--color-primary);
          }
        }
      }
    }
    .woocommerce-shipping-fields {
      h3 {
        font-size: 1.5rem;
        color: var(--color-text);
        font-family: "bold";
      }
      .shipping_address {
        .woocommerce-shipping-fields__field-wrapper {
          margin-bottom: 60px;
          p {
            margin-bottom: 3%;
            label {
              font-size: 0.9rem;
              color: var(--color-pargraph);
              font-family: "regular";
              margin-bottom: 1%;
            }
            .woocommerce-input-wrapper {
              .input-text {
                width: 90%;
                border-radius: 8px;
                border: 1px solid var(--color-pargraph);
                padding: 6px 0;
                padding-inline-start: 4%;
              }
            }
            .select2-container--default {
              width: 90% !important;
              .selection {
                .select2-selection {
                  border: 1px solid var(--color-pargraph);
                  border-radius: 8px;
                  font-family: "regular";
                  height: 37px;
                  margin: 0 0 6px;
                  .select2-selection__rendered {
                    color: var(--color-text);
                    line-height: 37px;
                    padding-left: 0;
                    padding-right: 0;
                    padding-inline-start: 15px;
                    padding-inline-end: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .woocommerce-additional-fields {
      .form-row {
        label {
          font-size: 1rem;
          color: var(--color-pargraph);
          font-family: "regular";
          span {
            color: var(--color-primary);
          }
        }
        .woocommerce-input-wrapper {
          .input-text {
            border-radius: 8px;
            width: 90%;
          }
        }
      }
    }
  }
  //checkout page
  .woocommerce-notices-wrapper {
    .woocommerce-error {
      background-color: rgba(245, 101, 66, 0.4);
      li {
        text-align: center;
      }
    }
    .woocommerce-message,
    .cart-empty {
      padding: 10px 4px;
      border-radius: 8px;
      color: var(--color-text);
      font-size: 1rem;
      margin-bottom: 3%;
      font-family: "regular";
      width: 100%;
      text-align: center;
      border: 1px solid #0f834d;
      border-top-width: 16px;
      background-color: transparent;
      margin-top: 2%;

      a {
        transition: 0.25s all ease-in-out;
        &:hover {
          color: var(--color-text);
        }
      }
    }
  }
  .return-to-shop {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    a {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 8px;
      font-size: 1.2rem;
      color: var(--color-white);
      font-family: "regular";
      padding: 5px 12px;
      border-radius: 8px;
      transition: 0.25s all ease-in-out;
      width: 33%;

      &:hover {
        background-color: var(--color-white);
        color: var(--color-primary);
      }
    }
  }
  .cart-empty {
    padding: 10px 4px;
    border-radius: 8px;
    color: var(--color-text);
    font-size: 1rem;
    margin-bottom: 3%;
    font-family: "regular";
    width: 100%;
    text-align: center;
    border: 1px solid rgba(245, 101, 66, 0.4);
    border-top-width: 16px;
    background-color: transparent;
    margin-top: 2%;
  }

  //shop page
  .woocommerce-result-count {
    margin: 2% 0;
    font-size: 1rem;
    color: var(--color-primary);
    font-family: "bold";
  }
  .woocommerce-ordering {
    font-size: 1.2rem;
    color: var(--color-text);
    font-family: "regular";
    border-radius: 8px;
    margin-bottom: 3%;
  }
  //shop page
  //cuppon
  .woocommerce-form-coupon {
    p {
      font-size: 1.2rem;
      font-family: "bold";
      color: var(--color-text);
      margin-bottom: 2%;
    }
    .input-text {
      border-radius: 8px;
      border: 1px solid var(--color-pargraph);
      padding-inline-start: 1%;
      font-size: 1.2rem;
      &::placeholder {
        font-size: 1.2rem;
        color: text;
      }
    }
    .button {
      background-color: transparent;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 8px;
      padding: 1px;
      width: 20%;
      font-size: 1.2rem;
      font-family: "regular";
      transition: 0.25s all ease-in-out;
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
  //cuppon enter
  //notice
  .woocommerce-notices-wrapper {
    border-radius: 8px;
    padding-inline-start: 1%;
    padding: 8px 0;
    margin-bottom: 2%;
    .woocommerce-info {
      color: var(--color-text);
      font-size: 1rem;
      font-family: "regular";
      text-align: center;
      padding: 11px 0;
      border-radius: 8px;
    }
  }
  //notice
}
//shop page with variable
.entry-title {
  font-size: 3rem;
  font-family: "bold";
  margin: 2% 0;
  color: var(--color-text);
}
.entry-summary {
  // add this class in add to cart -> simple page in woocommerce
  padding-inline-start: 15%;
  .cart_eoocomerce_modify {
    .quantity {
      .input-text {
        width: 45px;
        border: 1px solid var(--color-pargraph);
        border-radius: 8px;
        font-family: "bold";
        text-align: center;
      }
    }
  }
  .price {
    font-size: 1.3rem;
    font-family: "regular";
    color: var(--color-text);
    .woocommerce-Price-currencySymbol {
      font-family: "bold";
      color: var(--color-primary);
    }
  }

  .woocommerce-product-details__short-description {
    p {
      font-size: 1.3rem;
      color: var(--color-pargraph);
      font-family: "light";
      padding: 2% 0;
    }
  }
  .grouped_form {
    table {
      width: 70%;
      tbody {
        .woocommerce-grouped-product-list-item__quantity {
          .quantity {
            .input-text {
              width: 45px;
              border: 1px solid var(--color-pargraph);
              border-radius: 8px;
              font-family: "bold";
              text-align: center;
            }
          }
        }
        .woocommerce-grouped-product-list-item__label {
          a {
            font-size: 1rem;
            font-family: "regular";
            color: var(--color-text);
            transition: 0.25s all ease-in-out;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
        .woocommerce-grouped-product-list-item__price {
          .woocommerce-Price-amount {
            font-size: 1rem;
            font-family: "regular";
            color: var(--color-text);
            .woocommerce-Price-currencySymbol {
              font-family: "bold";
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
  .product_meta {
    margin-top: 2%;
    .posted_in {
      font-size: 1.3rem;
      color: var(--color-text);
      font-family: "bold";
      a {
        color: var(--color-primary);
        font-family: "regular";
      }
    }
  }
}
//tab in product page
.woocommerce-tabs {
  margin: 4% 0 8%;
  .wc-tabs {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #f5f5f5;
    li {
      padding-inline-end: 3%;
      transition: 0.25s all ease-in-out;

      a {
        color: var(--color-text);
        font-size: 1.3rem;
        font-family: "regular";
        transition: 0.25s all ease-in-out;
      }
    }
    li.active {
      border-bottom: 1px solid var(--color-primary);
      transition: 0.25s all ease-in-out;

      a {
        color: var(--color-primary);
        font-family: "bold";
        transition: 0.25s all ease-in-out;
      }
    }
  }
  .woocommerce-Tabs-panel {
    padding: 4% 0;
    h2 {
      font-size: 1.1rem;
      color: var(--color-text);
      font-family: "bold";
    }
    p {
      font-family: "regular";
      font-size: 1rem;
      color: var(--color-pargraph);
    }
    .woocommerce-Reviews {
      .woocommerce-noreviews {
        padding: 5px 0;
        padding-inline-start: 2%;
        color: white;
        border-radius: 8px;
        text-align: center;
        background-color: rgba(245, 101, 66, 0.4);
      }
      #review_form_wrapper {
        .comment-reply-title {
          font-family: "light";
          color: var(--color-pargraph);
        }
        .comment-form {
          .comment-form-rating {
            padding: 3% 0;
            label {
              font-size: 1rem;
              font-family: "regular";
              color: var(--color-primary);
              margin-bottom: 10px;
            }
            .stars {
              a.active {
                &:before {
                  color: var(--color-primary);
                }
              }
              a {
                transition: 0.25s all ease-in-out;
                &:hover {
                  color: var(--color-primary);
                }
              }
            }
          }
          .comment-form-comment {
            label {
              display: block;
            }
          }
          .form-submit {
            .submit {
              background-color: transparent;
              color: var(--color-primary);
              font-size: 1rem;
              font-family: "regular";
              border: 1px solid var(--color-primary);
              width: 13%;
              padding: 5px 10px;
              transition: 0.25s all ease-in-out;
              border-radius: 8px;
              &:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
}
//related products in product page
.woocommerce_related_products,
.woocomerce_products_not_found {
  // this class add in relatef.php in woocomerce
  padding: 5% 0;
  h2 {
    font-size: 2rem;
    color: var(--color-text);
    font-family: "bold";
  }
  .products {
    li {
      position: relative;
      overflow: hidden;
      margin: 2% 0;
      .woocommerce-LoopProduct-link {
        position: relative;
        &:hover {
          img {
            opacity: 1;
            transform: scale(1.01);
          }
          h2 {
            opacity: 1;
            transform: translateY(0px);
          }
          .price {
            transform: translateY(0px);
            opacity: 1;
          }
        }
        img {
          width: 100%;
          height: 250px;
          border-radius: 8px;
          transition: 0.25s all ease-in-out;
          opacity: 0.5;
        }
        h2 {
          transition: 0.25s all ease-in-out;
          opacity: 0;
          transform: translateY(20px);
          font-size: 1.2rem;
          font-family: "bold";
          color: var(--color-text);
        }
        .price {
          transition: 0.25s all ease-in-out;
          opacity: 0;
          transform: translateY(20px);
          font-size: 1rem;
          font-family: "regular";
          color: var(--color-pargraph);
        }
        .onsale {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-white);
          font-size: 0.9rem;
          font-family: "light";
          position: absolute;
          border-radius: 50%;
          width: 50px;
          top: 6%;
          right: -105%;
          height: 50px;
          background: rgb(238, 69, 16, 0.3);
          color: var(--color-white);
          z-index: 10;
        }
      }
      .add_to_cart_button,
      .product_type_simple {
        position: absolute;
        top: -15%;
        left: -15%;
        transition: 0.3s all ease-in-out;
        width: 50px;
        height: 50px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        background-color: rgba(245, 101, 66, 0.4);
        i {
          font-size: 1.4rem;
          transition: 0.3s all ease-in-out;
          color: var(--color-white);
        }
        &:hover {
          background-color: white;
          i {
            color: var(--color-primary);
          }
        }
      }
      &:hover {
        .add_to_cart_button {
          top: 6%;
          left: 6%;
        }
      }
      .added_to_cart.wc-forward {
        opacity: 0;
      }
    }
  }
}
//unfound page
.woocommerce-info-not-found {
  background-color: rgba(245, 101, 66, 0.4);
  padding: 8px;
  padding-inline-start: 2%;
  border-radius: 8px;
  font-size: 1.2rem;
  color: var(--color-white);
  font-family: "light";
  margin: 4% 0;
}
.woocomerce_products_not_found
  .products
  li
  .woocommerce-LoopProduct-link
  .onsale {
  right: -65%;
}

//unfound page

.page-title {
  font-size: 2rem;
  font-family: "bold";
  color: var(--color-text);
  margin: 2% 0 4%;
}

//start shop page
.echo_shop_section_card {
  padding: 5% 0;
  .site_main_eccommerce {
    padding-inline-start: 4%;
    .woocommerce-breadcrumb {
      color: var(--color-text);
      font-size: 1.2rem;
      font-family: "regular";
      background-color: rgba(245, 101, 66, 0.4);
      border-radius: 8px;
      padding: 1% 0;
      padding-inline-start: 2%;
      a {
        color: var(--color-primary);
        font-size: 1.2rem;
        font-family: "bold";
      }
    }
    .woocommerce-products-header {
      .page-title {
        font-size: 2.8rem;
        color: var(--color-text);
        font-family: "bold";
        margin: 1% 0;
      }
    }
    .products {
      padding: 3% 0;
      .type-product {
        position: relative;
        overflow: hidden;
        a {
          &:hover {
            img {
              opacity: 1;
              transform: scale(1.01);
            }
          }
          position: relative;
          display: block;
          img {
            width: 100%;
            border-radius: 8px;
            opacity: 0.5;
          }
          h2 {
            font-size: 1.5rem;
            color: var(--color-pargraph);
            font-family: "bold";
            display: inline-block;
          }
          .price {
            display: inline-block;
            .woocommerce-Price-amount {
              font-size: 1rem;
              color: var(--color-text);
              font-family: "light";
            }
            .woocommerce-Price-currencySymbol {
              color: var(--color-primary);
            }
          }
          .onsale {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-white);
            font-size: 0.9rem;
            font-family: "light";
            position: absolute;
            border-radius: 50%;
            width: 50px;
            top: 6%;
            right: 6%;
            height: 50px;
            background: rgb(238, 69, 16, 0.3);
            color: var(--color-white);
            z-index: 10;
          }
        }
        .add_to_cart_button,
        .product_type_simple,
        .product_type_grouped,
        .button {
          position: absolute;
          top: -16%;
          left: -15%;
          transition: 0.3s all ease-in-out;
          width: 50px;
          height: 50px;
          display: flex !important;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 50px;
          background-color: rgba(245, 101, 66, 0.4);
          i {
            font-size: 1.4rem;
            transition: 0.3s all ease-in-out;
            color: var(--color-white);
          }
          &:hover {
            background-color: white;
            i {
              color: var(--color-primary);
            }
          }
        }
        &:hover {
          .add_to_cart_button,
          .product_type_grouped,
          .button {
            top: 6%;
            left: 6%;
          }
        }
        .added_to_cart.wc-forward {
          opacity: 0;
        }
      }
    }
    .woocommerce-pagination {
      margin: 2% 0;
      ul {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0;
        width: 100%;
        margin: 5% 0;
        li {
          width: 40px;
          height: 32px;
          border: 1px solid var(--color-primary);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-inline-end: 2%;
          transition: 0.25s all ease-in-out;
          &:hover {
            a {
              background-color: var(--color-primary);
              color: var(--color-white);
            }
          }
          .current {
            background-color: var(--color-primary);
            color: var(--color-white);
            font-family: "bold";
            font-size: 1.2rem;
            transition: 0.25s all ease-in-out;
            border-radius: 8px;
            width: 100%;
            height: 100%;
          }
          a {
            background-color: transparent;
            color: var(--color-primary);
            font-size: 1.2rem;
            font-family: "regular";
            transition: 0.25s all ease-in-out;
            border-radius: 8px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.single-product
  div.product
  .woocommerce-product-gallery
  .woocommerce-product-gallery__trigger {
  background: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex !important ;
  justify-content: center;
  align-items: center;
}
//finish shop page

//start my account page
.woocommerce-MyAccount-navigation {
  padding: 3% 0;
  ul {
    border: 1px solid var(--color-pargraph);
    border-radius: 8px;
    box-shadow: 4px 7px 34px -1px rgba(0, 0, 0, 0.1);
    li {
      padding: 6% 0;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      transition: 0.3s all ease-in-out;
      &:hover {
        background-color: rgba(245, 101, 66, 0.4);
        a {
          color: var(--color-white);
          font-family: "bold";
        }
      }
      a {
        font-size: 1.2rem;
        color: var(--color-text);
        font-family: "regular";
      }
      &:last-child {
        border-bottom: none;
      }
    }
    li.is-active {
      background-color: rgba(245, 101, 66, 0.4);
      a {
        color: var(--color-white);
        font-family: "bold";
      }
    }
  }
}
.woocommerce-myaccount-content {
  //this class add in woocommerce.ohp
  padding: 0% 5%;
  animation: slide-up 1s linear;
  p {
    font-size: 1.5rem;
    color: var(--color-text);
    font-family: "regular";
  }
  .woocommerce-Address {
    width: 100%;
    .woocommerce-Address-title {
      margin-top: 3%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      background-color: rgba(245, 101, 66, 0.4);
      padding: 2%;
      border-radius: 8px;
      h3 {
        font-size: 1.2rem;
        color: var(--color-pargraph);
        font-family: "bold";
        margin-bottom: 0;
      }
      a {
        color: var(--color-white);
        font-size: 1.2rem;
        font-family: "bold";
      }
    }
    .information {
      //this class add in my-adress.php
      border: 1px solid var(--color-pargraph);
      border-radius: 8px;
      padding: 2%;
      color: var(--color-pargraph);
      font-family: regular;
      font-size: 1rem;
      margin: 2% 0;
      box-shadow: 4px 7px 34px -1px rgba(0, 0, 0, 0.1);
    }
  }
  form {
    p {
      margin-bottom: 15px;
      span {
        font-size: 0.8rem;
        color: var(--color-pargraph);
        display: block;
      }

      label {
        display: block;
        font-size: 1.1rem;
        padding-bottom: 5px;
        .required {
          color: var(--color-primary);
          display: inline-block;
        }
      }
      .woocommerce-Input {
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        width: 95%;
        font-size: 0.9rem;
        padding: 10px 0;
        padding-inline-start: 5px;
      }
    }
    .password {
      //this class add in form-edit-account.php
      margin-top: 5%;
      margin-bottom: 3%;
      font-size: 1.8rem;
      font-family: "bold";
      color: var(--color-primary);
    }
    .woocommerce-Button {
      border: 1px solid var(--color-primary);
      border-radius: 8px;
      background-color: transparent;
      transition: 0.3s all ease-in-out;
      color: var(--color-primary);
      width: 30%;
      margin: 5% 0 2%;
      font-size: 1.1rem;
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
  .woocommerce-info {
    background-color: transparent;
    border: 1px solid var(--color-text);
    border-top: 16px solid #3d9cd2;
    border-radius: 8px;
    padding: 2%;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-text);
    font-family: "regular";
    a {
      font-family: "bold";
      font-size: 1.5rem;
      color: var(--color-primary);
    }
  }
  .woocommerce-orders-table {
    width: 100%;
    border-radius: 8px;
    thead {
      background-color: rgba(245, 101, 66, 0.4);
      border-radius: 8px;
      height: 50px;
      border-radius: 8px;
      tr {
        th {
          text-align: center;
          font-size: 1.1rem;
          color: var(--color-white);
          font-family: "regular";
        }
      }
    }
    tbody {
      border: 1px solid #f5f5f5;
      border-radius: 8px;

      tr {
        border-bottom: 1px solid #f5f5f5;
        height: 100px;

        .woocommerce-orders-table__cell-order-number {
          font-family: "bold";
          transition: 0.25s all ease-in-out;
          text-align: center;

          &:hover {
            a {
              color: var(--color-text);
            }
          }
        }
        .woocommerce-orders-table__cell-order-date {
          font-family: "regular";
          color: var(--color-text);
          text-align: center;
        }
        .woocommerce-orders-table__cell-order-status {
          font-size: 0.8rem;
          text-align: center;
          font-family: "regular";
          display: flex;
          padding: 5%;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 43% 0px;
          border-radius: 8px;
        }
        .woocommerce-orders-table__cell-order-total {
          font-size: 0.9rem;
          color: var(--color-text);
          font-family: "regular";
          text-align: center;
          .woocommerce-Price-currencySymbol {
            color: var(--color-primary);
            font-family: "bold";
          }
        }
        .woocommerce-orders-table__cell-order-actions {
          text-align: center;
          a {
            font-size: 0.8rem;
            color: var(--color-white);
            padding: 3px;
            font-family: "regular";
            border-radius: 8px;
            margin-bottom: 6px;
            transition: 0.3s all ease-in-out;
          }
          a.view {
            background-color: rgba(0, 128, 0, 0.3);
            &:hover {
              color: rgba(0, 128, 0, 0.3);
              background-color: var(--color-white);
              border: 1px solid rgba(0, 128, 0, 0.3);
            }
          }
          a.pay {
            background-color: rgba(245, 101, 66, 0.4);
            &:hover {
              color: rgba(245, 101, 66, 0.4);
              background-color: var(--color-white);
              border: 1px solid rgba(245, 101, 66, 0.4);
            }
          }
          a.cancel {
            background-color: rgba(255, 0, 0, 0.8);
            &:hover {
              color: rgba(255, 0, 0, 0.8);
              background-color: var(--color-white);
              border: 1px solid rgba(255, 0, 0, 0.8);
            }
          }
        }
      }
      //in fail case
      .woocommerce-orders-table__row--status-failed {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(255, 0, 0, 0.8);
          color: var(--color-white);
        }
      }

      //in proccesing case
      .woocommerce-orders-table__row--status-processing {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(128, 128, 128, 0.4);
          color: var(--color-white);
        }
      }

      //in pending case
      .woocommerce-orders-table__row--status-pending {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(128, 128, 128, 0.7);
          color: var(--color-white);
        }
      }

      //in holding case
      .woocommerce-orders-table__row--status-on-hold {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(255, 165, 0, 0.5);
          color: var(--color-text);
        }
      }

      //in complete case
      .woocommerce-orders-table__row--status-completed {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(245, 101, 66, 0.4);
          color: var(--color-white);
        }
      }

      //in cancel case
      .woocommerce-orders-table__row--status-cancelled {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(255, 0, 0, 0.4);
          color: var(--color-white);
        }
      }

      //in refunded case
      .woocommerce-orders-table__row--status-on-refunded {
        .woocommerce-orders-table__cell-order-status {
          background-color: rgba(128, 128, 128, 0.1);
          color: var(--color-white);
        }
      }
    }
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
//finish my account page
